{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword.first) }}
        {{ form_row(registrationForm.plainPassword.second) }}
        {{ form_row(registrationForm.submit) }}
    {{ form_end(registrationForm) }}

    <p>
        Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a>
    </p>
{% endblock %}
